@mixin flex() {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin bg($imgpath) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../src/" + $imgpath + ".png");
}
