$clr: #f7515c;

@use "functions";

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 100px;
  color: white;
  text-shadow: 0 0 4px black;
  -webkit-text-stroke: 0.2px black;
}
h2 {
  font-size: 55px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 22px;
  font-weight: 500;
}
h6 {
  font-size: 18px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

li {
  list-style: none;
}

.btn {
  background-color: $clr;
  color: white;
  padding: 20px 35px;
  font-size: 22px;
  transition: 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  color: $clr;
  background-color: white;
}

header {
  @include functions.flex;
  height: 150px;
  li {
    display: inline;
    padding-left: 70px;
  }
  span {
    padding-left: 50px;
  }
  .material-symbols-outlined {
    display: inline;
  }
}

section {
  height: 850px;
  margin: auto 0;
}

.container {
  margin: auto;
  @include functions.flex;
}

.hero {
  h3 {
    color: $clr;
  }
  span {
    display: flex;
    place-items: center;
    margin-left: 20px;
  }
  h5 {
    font-weight: 700;
  }
  .material-symbols-outlined {
    font-size: 36px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(118, 117, 117);
    border-radius: 50%;
    margin-right: 10px;
  }
}

.about {
  h5 {
    width: 40ch;
    line-height: 35px;
  }
}

.card {
  margin-top: 100px;
  max-width: 280px;
  text-align: center;
  padding: 10px;
  border: 0.1px solid rgb(249, 246, 246);
  h5 {
    font-weight: 700;
    &:last-child {
      margin-top: 30px;
      font-weight: 500;
      color: rgb(118, 117, 117);
    }
  }
}

#art1 {
  @include functions.bg($imgpath: art1);
}

#art2 {
  @include functions.bg($imgpath: art2);
}

#art3 {
  @include functions.bg($imgpath: art3);
}

#art4 {
  @include functions.bg($imgpath: art4);
}

.value {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;

  span {
    position: absolute;
    left: -200;
  }

  #value-img {
    position: absolute;
    top: 200px;
    left: 15%;
  }
}

#value-img {
  @include functions.bg($imgpath: value, $wd: 1000px, $hg: 577px);
}

#hero-img {
  @include functions.bg($imgpath: hero, $wd: 400px, $hg: 600px);
}

#about-img {
  @include functions.bg($imgpath: about, $wd: 400px, $hg: 600px);
}

#cta-img {
  @include functions.bg($imgpath: cta, $wd: 400px, $hg: 600px);
}

.black-version {
  color: black;
  box-shadow: none;
  -webkit-text-stroke: none;
}

.icons {
  .material-symbols-outlined {
    font-size: 36px;
    padding: 10px;
    border: 2px solid rgb(118, 117, 117);
    color: rgb(118, 117, 117);
    border-radius: 8px;
    transition: 0.3s ease-in-out;
  }

  .material-symbols-outlined:focus,
  .material-symbols-outlined:hover {
    background-color: $clr;
    border-color: white;
    color: white;
  }
}

footer {
  @include functions.flex;
  align-items: baseline;
  border-top: 1px solid black;
  ul {
    margin: 70px 0;
  }
  li {
    margin: 10px 0;
    &:first-child {
      font-weight: 900;
    }
  }
}

/* font-family: 'Nunito Sans', sans-serif;*/
