* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 100px;
  color: white;
  text-shadow: 0 0 4px black;
  -webkit-text-stroke: 0.2px black;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
  font-weight: 500;
}

h6 {
  font-size: 18px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.btn {
  background-color: #f7515c;
  color: white;
  padding: 20px 35px;
  font-size: 22px;
  transition: 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  color: #f7515c;
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}
header li {
  display: inline;
  padding-left: 70px;
}
header span {
  padding-left: 50px;
}
header .material-symbols-outlined {
  display: inline;
}

section {
  height: 850px;
  margin: auto 0;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hero h3 {
  color: #f7515c;
}
.hero span {
  display: flex;
  place-items: center;
  margin-left: 20px;
}
.hero h5 {
  font-weight: 700;
}
.hero .material-symbols-outlined {
  font-size: 36px;
  padding: 10px;
  box-shadow: 0 0 10px rgb(118, 117, 117);
  border-radius: 50%;
  margin-right: 10px;
}

.about h5 {
  width: 40ch;
  line-height: 35px;
}

.card {
  margin-top: 100px;
  max-width: 280px;
  text-align: center;
  padding: 10px;
  border: 0.1px solid rgb(249, 246, 246);
}
.card h5 {
  font-weight: 700;
}
.card h5:last-child {
  margin-top: 30px;
  font-weight: 500;
  color: rgb(118, 117, 117);
}

#art1 {
  background-position: center;
  background-repeat: no-repeat;
  width: 278px;
  height: 312px;
  background-size: cover;
  background-image: url("../src/art1.png");
}

#art2 {
  background-position: center;
  background-repeat: no-repeat;
  width: 278px;
  height: 312px;
  background-size: cover;
  background-image: url("../src/art2.png");
}

#art3 {
  background-position: center;
  background-repeat: no-repeat;
  width: 278px;
  height: 312px;
  background-size: cover;
  background-image: url("../src/art3.png");
}

#art4 {
  background-position: center;
  background-repeat: no-repeat;
  width: 278px;
  height: 312px;
  background-size: cover;
  background-image: url("../src/art4.png");
}

.value {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
.value span {
  position: absolute;
  left: -200;
}
.value #value-img {
  position: absolute;
  top: 200px;
  left: 15%;
}

#value-img {
  background-position: center;
  background-repeat: no-repeat;
  width: 1000px;
  height: 577px;
  background-size: cover;
  background-image: url("../src/value.png");
}

#hero-img {
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 600px;
  background-size: cover;
  background-image: url("../src/hero.png");
}

#about-img {
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 600px;
  background-size: cover;
  background-image: url("../src/about.png");
}

#cta-img {
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 600px;
  background-size: cover;
  background-image: url("../src/cta.png");
}

.black-version {
  color: black;
  box-shadow: none;
  -webkit-text-stroke: none;
}

.icons .material-symbols-outlined {
  font-size: 36px;
  padding: 10px;
  border: 2px solid rgb(118, 117, 117);
  color: rgb(118, 117, 117);
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
.icons .material-symbols-outlined:focus,
.icons .material-symbols-outlined:hover {
  background-color: #f7515c;
  border-color: white;
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-items: baseline;
  border-top: 1px solid black;
}
footer ul {
  margin: 70px 0;
}
footer li {
  margin: 10px 0;
}
footer li:first-child {
  font-weight: 900;
}

/* font-family: 'Nunito Sans', sans-serif;*/

/*# sourceMappingURL=output.css.map */
